h3 :first-child {
    color: orange;
}

h3 :last-child {
    text-decoration: underline;
}

h3 {
}

.center-card {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    margin-top: -50px;
    margin-left: -50px;
    width: auto;
    height: auto;
    background-color: #5444b2;
}
